/* Dashboard.css */
* {
    font-family: "Metropolis", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Slight background color for contrast */
  }
  
  .container {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .title {
    color: #FF0000;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .card {
    margin: 20px 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Subtle hover effect */
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  
  .card-description {
    font-size: 1rem;
    color: #757575;
    margin-top: 0.5rem;
  }
  
  .invitee-status {
    font-size: 0.875rem;
    color: green;
    margin-top: 1rem;
  }
  
  .inviter-status {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  
  .list-item {
    font-size: 0.875rem;
    color: #555;
  }
  
  .button {
    margin-top: 2rem;
    background-color: #8bdfe9;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #78c8d2;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  
  .avatar-text {
    margin-left: 1rem;
    font-size: 0.875rem;
  }
  
  .date-text {
    font-size: 0.75rem;
    color: #9e9e9e;
  }
  
  .create-trip-button {
    background-color: #8bdfe9;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .create-trip-button:hover {
    background-color: #78c8d2;
  }
  