.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e8d8c3;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr; /* Logo takes the first column, content the rest */
  grid-template-rows: auto 1fr; /* Logo takes the top row */
  align-items: center;
  justify-items: start; /* Align logo to the start */
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start; /* Align the logo to the top left */
  height: 50px;
}

.App-body {
  grid-column: 1 / 3; /* Span the whole width of the grid for the body */
  grid-row: 2 / 3; /* Body content starts below the header */
  padding: 20px;
  background-color: #ffffff;
  color: black;
  text-align: left;
}
