@import url('https://fonts.cdnfonts.com/css/metropolis-2');
* {
  font-family: "Metropolis", sans-serif;
}

body {
  color: #0e395a;
}


/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app fills the entire viewport */
}

.App-logo {
  height: 15vmin;
  margin-bottom: -25px
}

.App-text-logo {
  height: 9vmin; /* Reduce the height (for example, from 10vmin to 8vmin) */
  max-height: 60px; /* Optional: Set a max height to avoid it becoming too large on larger screens */
  margin-left: 5px; /* Add spacing between the main logo and the text logo */
  margin-bottom: -30px
}

.App-header {
  background-color: #fff3e3;
  height: auto; /* Set a fixed height for the header */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex-grow: 1; /* This allows the body to grow and take up remaining space */
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: top; /* Center content vertically */
  background-color: #fff3e3;
  padding: 20px;
  color: black;
  text-align: center; /* Center the text */
}

/* Login.css */
.login-page {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  width: 100%;
  height: 100%; /* Ensure the container takes up all available space */
}

.login-container {
  background-color: #f5f5f5; /* Light background color */
  padding: 40px; /* Padding for spacing inside the container */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%; /* Take up full width up to max-width */
}

.login-button {
  background-color: #4285F4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Add space above the button */
  display: inline-flex;
  align-items: center;
}

.login-button img {
  margin-right: 10px;
}

.login-button:hover {
  background-color: #357ae8;
}
